<script src="{{site.baseurl}}/assets/js/lunr.js"></script>


<style>
    .lunrsearchresult .title {color: #212529;font-weight: 700;font-size: 20px;margin-bottom: 10px;display: block;}
    .lunrsearchresult .url {color: silver;}
    .lunrsearchresult a {display: block; color: #777;}
    .lunrsearchresult a:hover, .lunrsearchresult a:focus {text-decoration: none;}
    .lunrsearchresult a:hover .title {text-decoration: underline;}
</style>


<form class="bd-search" onSubmit="return lunr_search(document.getElementById('lunrsearch').value);">
    <input type="text" class="form-control text-small launch-modal-search" id="lunrsearch" name="q" maxlength="255" value="" placeholder="Type and enter..."/>
    <button type="submit"><i class="fas fa-search"></i></button>
</form>


<script src="{{site.baseurl}}/assets/js/lunrsearchengine.js"></script>